<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Starting Annual Rent</th>
      <th>Revised LED</th>
      <th>Deal Summary</th>
    </tr>

    <% @deals.each do |Deal| %>
      <tr>
        <td><%= Lease_Modification__c.Name %></td>
        <td><%= Lease_Modification__c.Location__c %></td>
        <td><%= Lease_Modification__c.Starting_Annual_Rent__c %></td>
        <td><%= Lease_Modification__c.Revised_Lease_Expiration__c %></td>
        <td><%= Lease_Modification__c.Deal_Summary__c %></td>
      </tr>
    <% end %>
  </table>

</div>
